<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" href="/css/editStudentStyle.css">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Document</title>
</head>

<body>
	<header>
		<ul>
			<li>
				<form action="/faculty_main/<%= Fac_key %>">
				<input type="submit" value="Home">
				</form>
			</li>
			<li>
				<form action="/logout">
				<input type="submit" value="Logout">
				</form>
			</li>
		</ul>
		<h1>Edit Students.</h1>
	</header>
	<table>
		<thead>
			<th size="10">First Name</th>
			<th size="10">Last Name</th>
			<th size="10">Classification</th>
			<th size="10">Email</th>
			<th size="10">Actions</th>
		</thead>
		<tbody>
			<% Student.forEach((student)=> { %>
				<tr>
					<form method="POST" id="form-<%= student.Unique_Key %>" 
						  action="/faculty_main/<%= Fac_key %>/edit/<%= student.Unique_Key %>">
				
						<td>
							<input class="editfield" type="text" name="First_Name"
								   value="<%= student.First_Name %>" size="10">
						</td>
						<td>
							<input class="editfield" type="text" name="Last_Name"
								   value="<%= student.Last_Name %>" size="10">
						</td>
						<td>
							<select class="editfield" name="Group">
								<option value=""><%= student.Group %></option>
								<option value="freshman">freshman</option>
								<option value="sophomore">sophomore</option>
								<option value="junior">junior</option>
								<option value="senior">senior</option>
							</select>
						</td>
						<td>
							<input class="editfield" type="text" name="Email"
								   value="<%= student.Email %>" size="16">
						</td>
						<td>
							<a>
							<button type="button">Save</button>
							</a>
						</td>
					</form>
				
					<td>
						<form method="POST" action="/faculty_main/delete-student" style="display:inline;">
							<input type="hidden" name="student_key" value="<%= student.Unique_Key %>">
							<input type="hidden" name="fac_key" value="<%= Fac_key %>">
							<button type="submit">Delete</button>
						</form>
					</td>
				</tr>
				
				<% }) %>
		</tbody>
	</table>
	<script src="/jscripts/editStudentClient.js"></script>
</body>
</html>
