<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="/css/style.css">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing Meeting Time</title>
</head>
<body>
    <% if (Meeting.length >= 0) { %>  
        <h1>Editing Meeting Time on <%= Meeting[0].Date_Available %> at <%= Meeting[0].Time %></h1>
       <form action="/update-meeting" method="POST">
          <input type="hidden" name="fac_key" value="<%= Meeting[0].Professor_ID %>">
          <input type="hidden" name="old_date" value="<%= Meeting[0].Date_Available %>">
          <input type="hidden" name="old_time" value="<%= Meeting[0].Time %>">
      
          <label for="new_date">New Date:</label>
          <input type="date" id="new_date" name="new_date" required>
      
          <label for="new_time">New Time:</label>
          <input type="time" id="new_time" name="new_time" required>
      
          <input type="submit" value="Save Changes">
      </form>
    <% } else { %>
        <h1>Meeting Time not found</h1>
    <% } %>
</body>
</html>
