<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing Student</title>
</head>

<body>
    <h1>Editing <%= Student[0].First_Name+" "+Student[0].Last_Name%>.</h1>
    <form action="/update-student" method="POST">
            <input type="hidden" name="student_id" value="<%= Student[0].Person_ID %>">
            <input type="hidden" name="fac_id" value="<%= Student[0].Advisor %>">
            <table border=" 1">
                <thead>
                    <tr>
                        <th>First Name</th>
                        <th>Last Name</th>
                        <th>Classification</th>
                        <th>Email</th>
                        <th>Action</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Current first name: <%= Student[0].First_Name %><br>
                                <label for="first_name">New name:</label>
                                <input type="text" name="first_name" size="10">
                        </td>
                        <td>
                            Current last name: <%= Student[0].Last_Name %><br>
                                <label for="last_name">New name:</label>
                                <input type="text" name="last_name" size="10">

                        </td>
                        <td>
                            Current classification: <%= Student[0].Group %><br>
                                <label for="group">New classification:</label>
                                <select id="group" name="group">
                                    <option value="" style="display:none"></option>
                                    <option value="Freshman">Freshman</option>
                                    <option value="Sophmore">Sophmore</option>
                                    <option value="Junior">Junior</option>
                                    <option value="Senior">Senior</option>
                                </select>
                        </td>
                        <td>
                            Current email: <%= Student[0].Email %><br>
                                <label for="email">New email:</label>
                                <input type="text" name="email" size="16">
                        </td>
                        <td>
                            <input type="submit" value="Done">
                        </td>
                    </tr>
                </tbody>
            </table>
            </form>
</body>