<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Faculty Dashboard</title>
</head>

<body>
    <h1>Viewing student advisees for <%= fac_info.First_Name + " " + fac_info.Last_Name %>.</h1>

    <h2>Student List</h2>
    <% if (student_info && student_info.length > 0) { %>
        <table border="1">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Classification</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% student_info.forEach(student => { %>
                    <tr>
                    <!--<td>
                            <%// if (student.Last_Name != 'Available' && student.Last_Name != 'Not Available') { %>
                            <%=// student.First_Name + ' ' + student.Last_Name %>
                            <%// } %></td>-->
                        <td><%= student.First_Name + ' ' + student.Last_Name %></td>
                        <td><%= student.Group %></td>
                        <td><%= student.Email %></td>
                        <td>
                            <form action="/faculty_main/edit_student/<%= student.Unique_Key %>">
                                <input type="submit" value="Edit">
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>No students found.</p>
    <% } %>

    <h2>Meeting Times</h2>
    <% if (time_info && time_info.length > 0) { %>
        <table border="1">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Time</th>
                    <th>Registration Slots</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <% time_info.forEach(slot => { %>
                    <tr>
                        <td><%= slot.Date_Available %></td>
                        <td><%= slot.Time %></td>
                        <td><%= slot.First_Name + ' ' + slot.Last_Name %><td>
                            <form action="/faculty_main/edit_meeting_time/<%= slot.Professor_ID %>/<%= slot.Date_Available %>/<%= slot.Time %>">
                                <input type="submit" value="Edit">
                            </form>
                        </td>
                    </tr>
                <% }); %>
            </tbody>
        </table>
    <% } else { %>
        <p>No available meeting times found.</p>
    <% } %>

</body>

</html>
