<!-- Functions to format the meeting times into an easier to read format. -->
<% 
// Assuming that date is a string in the YYYY-MM-DD format.
// function formatDate(date) {
//     var [year, month, day] = date.split('-');
//     var monthNames = ["January", "February", "March", "April", "May", "June",
//         "July", "August", "September", "October", "November", "December"];
    
//     // Feel free to change the order of these.
//     return monthNames[parseInt(month)] + ' ' + parseInt(day) + ', ' + parseInt(year);
// }

function formatDate(date) {
    var [year, month, day] = date.split('-');
    dateObject = new Date(parseInt(year), parseInt(month)-1, parseInt(day));

    return dateObject.toLocaleDateString('en-us', { weekday:"long", year:"numeric", month:"long", day:"numeric"});
}

// Assuming that time is a string in military time ('0000' through '2359')
function formatTime(time) {
    var hourString = time.substring(0, 2);
    var hour = parseInt(hourString);
    var minuteString = time.substring(2, 4);
    var amOrPm;

    if (hour == 0) {
        hour = 12;
        amOrPm = 'am';
    } else if (hour > 12) {
        hour -= 12;
        amOrPm = 'pm';
    } else {
        amOrPm = 'am';
    }

    return hour + ':' + minuteString + ' ' + amOrPm;
}
%>

<!DOCTYPE html>
<html lang="en">
<head>
<style>
button {border: none;
    outline: none;
    background: none;
    cursor: pointer;
    color: #0000EE;
    padding: 0;
    text-decoration: underline;
    font-family: inherit;
    font-size: inherit;}
</style>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Student Dashboard</title>
</head>
<body>

<h1>Hello, <%= name_entries[0].First_Name + " " + name_entries[0].Last_Name %>.</h1>
<!-- A message needs to go here. check notes from board drawing. --> 
 <!-- IF STUDENT HAS NO TIME:
"Please register for a time from the list below:" -->
<% if (!time_requested) { %>
    <h2>Please register for a time from the list below:</h2>
<% } else { %>

<!-- IF STUDENT HAS A REGISTERED TIME:
"You are currently registered to meet with Dr. 'X' at 'Date, Time'. If you would
like to change your registered time, please select a new time from the list below:"-->

<!-- Change the 'X' to shwo Professor's last name.  -->
 <!-- Change the 'Date, Time' to show selected time.  -->
    <h2>You are currently registered to meet with your advisor on <%= formatDate(current_time[0].Date_Available) %> @ <%= formatTime(current_time[0].Time) %>.</h2>
    <h3>If you would like to change your registered time, please select a new time from the list below:</h3>
<% } %>

<% time_info.forEach(slot => { %>
    <% var availableDateAndTime = formatDate(slot.Date_Available) + ' @ ' + formatTime(slot.Time) %>
    <% if (slot.Student_ID == 'Available_Key' && slot.Group == name_entries[0].Group) { %>
    <p>
    <form action="/register-time" method="POST">
        <input type="hidden" name="advisor" value="<%= slot.Professor_ID %>">
        <input type="hidden" name="date" value="<%= slot.Date_Available %>">
        <input type="hidden" name="time" value="<%= slot.Time %>">
        <input type="hidden" name="student_key" value="<%= student_key %>">
        <input type="hidden" name="group" value="<%= slot.Group %>">

        <button type="submit" onclick="alert('You just registered for <%= availableDateAndTime %>. You may now close this browser, or choose a new time.')"><%= availableDateAndTime %></button>
    </form>
    </p>
    
    <% } %>
<% }); %>


<h3>If you have questions regarding your meeting time, please contact your advisor.</h3>
</body>
</html>